
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/images/works/
/var/
/vendor/
###< symfony/framework-bundle ###

###> vscode config ###
/.vscode/
###< vscode config ###

###> gulp ###
/gulp/node_modules
###< gulp ###