footer
{
	text-align: center;
	padding-bottom: 70px;

	ul
	{
		padding: 0;
		width: 200px;
		margin: auto;
		display: flex;
		justify-content: space-around;
		list-style: none;
		
		li
		{
			height: 40px;
			width: 40px;
		}
	}	

	svg path
	{
		fill: $color-icons;
	}

	p
	{
		padding: 20px;
		margin-bottom: 0;
	}

	div
	{
		width: 55px;
		height: 55px;
		position: fixed;
		bottom: 15px;
		right: 20px;
	}
}

@media all and (min-width: 789px)
{
	footer
	{
		padding-bottom: 10px;

		div
		{
			display: none;
		}
	}
}
