// Colors
$color-title: white;
$color-title-effect: #a2533b;
$color-cyano-main: #00276d;
$color-photo-main: #dfa594;
$color-neutral-main: #e1a896;
$color-text-darker: #555b6e;
$color-text-lighter: #5a6678;
$color-menu: #fff1ed;
$color-menu-effect: #ffc5b5;
$color-icons: #d2ada1;